<ion-view ng-controller="AppCtrl" title="Cobranzas Mobile">
	<ion-content class="stable-bg padding">
		<center><h2>¡Bienvenido!</h2></center>
		<br>
		<h4 style="margin-bottom:10px">Email</h4>
		<label class="item-input item-floating-label">
			<input type="text" placeholder="correo@electronico.com" ng-model="email" value="">
		</label>
		<br>
		<h4 style="margin-bottom:10px">Password</h4>
		<label class="item-input item-floating-label">
			<input type="text" placeholder="Password" ng-model="password" value="">
		</label>

		<input type="text" placeholder="" ng-model="msg" value="">
		<button class="button button-block button-assertive-900 ink" data-ink-color="#9DEAFF" data-ink-opacity="1"
			ng-click="login(email,password)">
                    Iniciar Sesión
                </button>
	</ion-content>
</ion-view>