<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
	<ion-nav-bar class="bar-assertive-900" align-title="center">
	  <ion-nav-back-button id="backButton">
	  </ion-nav-back-button>

	  <ion-nav-buttons id="menuButton" side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	  </ion-nav-buttons>
	</ion-nav-bar>
	<ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-hide="!loginVar">
	<ion-header-bar class="bar-dark">
	  <h1 class="title">Opciones</h1>
	</ion-header-bar>
	<ion-content ng-controller="CobranzasCtrl">
	  <ion-list ng-controller="AppCtrl">
		<ion-item menu-close ng-click="openModal()">
		  Login
		</ion-item>
		
		<ion-item menu-close href="#" ng-click="iniciarCobranza()" ng-hide="existeCobranza">
		  Iniciar cobranza
		</ion-item>

		<ion-item menu-close href="#/app/cobranza-actual" ng-show="existeCobranza">
		  Cobranza actual
		</ion-item>
		<ion-item menu-close href="#/app/clientes">
		  Clientes
		</ion-item>
		<ion-item menu-close href="#/app/cobranzas">
		  Cobranzas
		</ion-item >
		<ion-item menu-close href="#" ng-click="finalizarCobranza()" ng-show="existeCobranza">
		  Finalizar cobranza
		</ion-item>

	  </ion-list>
	</ion-content>
  </ion-side-menu>
</ion-side-menus>
