<ion-modal-view>
	<ion-header-bar class="dark-bg" ng-click="closeModal()" align-title="center">
		<h2 class="title" style="left:0px">Modificar pago</h2>
	</ion-header-bar>
	<ion-content class="stable-bg padding">
		<h4>Cliente</h4>
		<div class="list">
			<label class="item item-radio" ng-repeat="cliente in clientes" ng-click=selected(cliente.$id)>
				<input type="radio" name="group" ng-model="pago.clienteID" ng-value="cliente.ID">
				<div   class="item-content">{{cliente.nombre + " " + cliente.apellido}}</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
		<h4 style="margin-bottom:10px">Monto</h4>
		<label class="item-input item-floating-label">
			<input type="text" placeholder="999999.99" ng-model="pago.monto">
		</label>
		<br>
		<br>
		<button class="button button-block button-assertive-900 ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="aceptarPago()">
                    Aceptar
                </button>
	</ion-content>
</ion-modal-view>