<ion-view view-title="Cobranza">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-edit" ng-controller="EditCobranzaCtrl" ng-click="modificarCobranza()"></button>
      	<button class="button button-icon button-clear ion-trash-b" ng-click="cancelarCobranza()"></button>
    </ion-nav-buttons>
	<button id="fab" class="button button-assertive-900 button-fab button-fab-bottom-right" ng-click="openModal()">
		<i class="icon ion-plus"></i>
	</button>
	<ion-content class="stable-bg">
		
		<div class="mid-bar dark-bg z1 padding">
			<h2>{{cobranza.abasto}}</h2>
			<h3>{{formatFecha(cobranza.fecha)}}</h3>
			<br>
			<p>Total Recaudado: $ {{cobranza.totalRecaudado | number: 2}}</p>
		</div>
		
		<div class="card list">
			<a href="#/app/cuenta-corriente/{{pago.clienteID}}" class="item item-icon-left" ng-repeat="pago in pagos" on-hold="mostrarOpciones(pago)">
				<i class="icon ion-alert-circled energized" ng-if="pago.precaucion"></i>
				<i class="icon ion-checkmark-circled balanced" ng-if="!pago.precaucion"></i>
				<div class="row">
					<div class="col col-67">
						<p>{{pago.clienteNombre}}</p>
					</div>
					<div class="col col-33" style="text-align:right">
						<p>
							<b>$ {{pago.monto | number:2}}</b>
						</p>
					</div>
				</div>
			</a>    
		</div>
	</ion-content>
</ion-view>