<ion-modal-view>
	<ion-header-bar class="dark-bg" ng-click="closeModal()" align-title="center">
		<h2 class="title" style="left:0px">Modificar cobranza</h2>
	</ion-header-bar>
	<ion-content class="stable-bg padding">
		<h4>Abasto</h4>
		<div class="list">
			<label class="item item-radio" >
				<input type="radio" name="group" >
				<div ng-value="abasto.ID" class="item-content" ng-checked="true">{{cobranza.abasto}}</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
		<h4 style="margin-bottom:10px">Fecha</h4>
		<label class="item-input item-floating-label">
			<input type="date" ng-model="fecha" ng-change="cambiarFecha(fecha)">
		</label>
		<br>
		<br>
		<button class="button button-block button-assertive-900 ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="aceptarModificarCobranza()">
                    Aceptar
                </button>
	</ion-content>
</ion-modal-view>