<ion-view view-title="Cobranzas" side="left" enable-menu-with-back-views="false">
	<ion-content class="stable-bg">
		<div class="list card" ng-repeat="cobranza in cobranzas.slice().reverse()">
			 <a href="#/app/cobranzas/{{cobranza.$id}}" class="item item-icon-left">
    			<i ng-if="cobranza.guardado" class="icon ion-star energized"></i>
				<i ng-if="!cobranza.guardado" class="icon ion-android-cancel assertive"></i>
				<div class="row">
					<div class="col col-50">
						<h2><b>{{cobranza.abasto}}</b></h2>
						<p ng-if="cobranza.pagos">{{cantidadPagos(cobranza)}} pago(s)</p>
						<p ng-if="!cobranza.pagos">0 pago(s)</p>
					</div>
					<div class="col col-50" style="text-align:right">
    					<p>{{formatFecha(cobranza.fecha)}}</p>
						<h2><b>$ {{cobranza.totalRecaudado | number:2}}</b></h2>
					</div>
				</div>
  			</a>
		</div >
	</ion-content>
</ion-view>