<ion-view view-title="Cobranza">

	<ion-content class="stable-bg">
		
		<div class="mid-bar dark-bg z1 padding">
			<h2>{{cobranza.abasto}}</h2>
			<h3>{{formatFecha(cobranza.fecha)}}</h3>
			<br>
			<p>Total Recaudado: $ {{cobranza.totalRecaudado | number: 2}}</p>
		</div>
		
		<div class="card list">
			<a href="#" class="item item-icon-left" ng-repeat="pago in cobranza.pagos">
				<i class="icon ion-alert-circled energized" ng-if="pago.precaucion"></i>
				<i class="icon ion-checkmark-circled balanced" ng-if="!pago.precaucion"></i>
				<div class="row">
					<div class="col col-67">
						<p>{{pago.clienteNombre}}</p>
					</div>
					<div class="col col-33" style="text-align:right">
						<p>
							<b>$ {{pago.monto | number:2}}</b>
						</p>
					</div>
				</div>
			</a>    
		</div>
	</ion-content>
</ion-view>