<ion-view view-title="Clientes">
   <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-search" ng-click="show()"></button>
    </ion-nav-buttons>
  <ion-content class="stable-bg">
     <div ng-hide="hidden" id="search-box" class="bar bar-header item-input-inset bar-assertive-900">
       <i style="font-size: 5px;width:2px;"></i>
        <div class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Búsqueda" ng-model="data.searchQuery">
          <i style="font-size: 38px;width:30px;text-align:center" class="clear-search icon ion-ios-close-empty dark" ng-click="clearSearch()"></i>
        </div>
        <i style="font-size: 38px;width:40px;text-align:center" class="icon ion-ios-arrow-thin-up" ng-click="hide()"></i>
      </div>
       
      <!--Primero los clientes del abasto o todos (en caso de que no haya cobranza actual) -->
      <h4 class="padding"  ng-if="cobranzaActual.abasto">Abasto {{cobranzaActual.abasto}}</h4>
      <div class="list card" >
      <a class="item item-icon-left" ng-repeat="cliente in clientes | filter: data.searchQuery" 
        href="#/app/clientes/{{cliente.ID}}"
        ng-if="cobranzaActual === null || cliente.abastoID === cobranzaActual.abastoID">
        <i class="icon ion-person positive-900"></i>
        <div class="padding-left">
        <h2 >{{cliente.nombre + " " + cliente.apellido}} </h2>
        <p>{{cliente.direccion}}</p>
        <p><b>{{cliente.ciudad}}</b></p>
        </div>
      </a>
      </div>      

      <!--Luego los clientes que no son del abasto o ninguno (en caso de que no haya cobranza actual) -->
      <h4 class="padding" ng-if="cobranzaActual.abasto">Otros</h4>
      <h4 class="padding" ng-if="!cobranzaActual.abasto">Todos</h4>
      <div class="list card" >
      <a class="item item-icon-left" ng-repeat="cliente in clientes | filter: data.searchQuery"
        href="#/app/clientes/{{cliente.ID}}" ng-if="cobranzaActual != null && cliente.abastoID != cobranzaActual.abastoID">
        <i class="icon ion-person positive-900"></i>
        <div class="padding-left">
        <h2 >{{cliente.nombre + " " + cliente.apellido}} </h2>
        <p>{{cliente.direccion}}</p>
        <p><b>{{cliente.ciudad}}</b></p>
        </div>
      </a>
      </div>      
    
  </ion-content>
</ion-view>