<ion-view>
  <ion-nav-title>{{cliente.nombre}} {{cliente.apellido}}</ion-nav-title>
  <ion-tabs class="tabs-dark tabs-icon-top has-header" >
    <ion-tab title="Datos personales" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
      <ion-nav-view>
        <ion-view class="stable-bg">
          <ion-content>
            <div class="list">
              <a href="#" class="item item-icon-right">
				        <div class="row">
					       <div class="col col-100">
                  <p class="royal">Nombre</p>
                  <h2 class="">{{cliente.nombre}}</h2>
					       </div>
        				</div>
              </a>              <a href="#" class="item item-icon-right">
				        <div class="row">
					       <div class="col col-100">
                  <p class="royal">Apellido</p>
                  <h2 class="">{{cliente.apellido}}</h2>
					       </div>
        				</div>
              </a>
              <a href="#" class="item item-icon-right" ng-if="cliente.direccion!=null">
				        <div class="row">
					       <div class="col col-100">
                  <p class="royal">Dirección</p>
                  <h2 class="">{{cliente.direccion}}</h2>
					       </div>
        				</div>
              </a>
              <a href="#" class="item item-icon-right" ng-if="cliente.telefono!=null">
				        <div class="row">
					       <div class="col col-100">
                  <p class="royal">Teléfono</p>
                  <h2 class="">{{cliente.telefono}}</h2>
					       </div>
        				</div>
				        <i class="icon ion-ios-telephone dark" onclick="window.open('tel:3498442214')"></i>
			         </a>    
              <a href="#" class="item item-icon-right" ng-if="cliente.email!=null">
				        <div class="row">
					       <div class="col col-100">
                  <p class="royal">Correo electrónico</p>
                  <h2 class="">{{cliente.email}}</h2>
                  </div>
        				</div>
				        <i class="icon ion-android-mail dark" onclick="var w=window.open('mailto:joaquincrippa@gmail.com');w.close();"></i>
			         </a>    
            </div>
          </ion-content>
          
        </ion-view>
      </ion-nav-view>
    </ion-tab>
    <ion-tab title="Cuenta Corriente" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
      <ion-nav-view>
        <ion-view ng-controller="CuentaCorrienteCtrl" class="stable-bg">
          <ion-content>
		<div class="card list dark-bg z1 padding padding-right item-icon-right" >
			<h4 style="color: white;">Saldo actual: $ {{cuentaCorriente.saldoActual - suma | number: 2}} <i class="icon ion-ios-pulse-strong assertive"></i></h4>
		</div>
		<div class="card list">
			<a href="#" class="item" on-hold="mostrarOpciones()" ng-if="obtenerSuma()>0">
				
				<div class="row" >
					<div class="col col-50">
						<p>{{fecha}}</p>
						<p>Pago</p>
					</div>
					<div class="col col-50" style="text-align:right">
						<h2>				
							<b>$ {{cuentaCorriente.saldoActual - suma | number:2}}</b>
						</h2>
						<h2 class="blue-style">
						-{{ obtenerSuma() | number:2}}</h2>
					</div>
				</div>
			</a>
			<a href="#" class="item" ng-repeat="movimiento in cuentaCorriente.movimientos.slice().reverse()" on-hold="mostrarOpciones()">
				<div class="row" >
					<div class="col col-50">
						<p>{{formatFecha(movimiento.fecha)}}</p>
						<p>{{movimiento.detalle}}</p>
					</div>
					<div class="col col-50" style="text-align:right">
						<h2 >				
							<b>$ {{movimiento.saldo | number:2}}</b>
						</h2>
						<h2 ng-class="{'blue-style': movimiento.monto<0, 'red-style': movimiento.monto>0}">
							 <span ng-if="movimiento.monto>0">+</span>{{movimiento.monto | number:2}}
						</h2>
						
					</div>
				</div>
			</a>  
    
  </div>
            
          </ion-content>
        </ion-view>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
<script>
  $('#backButton').show();
      $('#menuButton').hide();
</script>
<style >
.red-style {color:  red;}
.blue-style {color: darkslateblue;}
</style>