<ion-view view-title="Cuenta Corriente">
	<ion-content class="stable-bg">
		
		<div class="mid-bar dark-bg z1 padding">
			<h2>{{cuentaCorriente.cliente}}</h2>

			<h4>Saldo actual: $ {{cuentaCorriente.saldoActual - suma | number: 2}}</h4>
		</div>
		<div class="card list">
			<a href="#" class="item" on-hold="mostrarOpciones()" ng-if="obtenerSuma()>0">
				
				<div class="row" >
					<div class="col col-50">
						<p>{{fecha}}</p>
						<p>Pago</p>
					</div>
					<div class="col col-50" style="text-align:right">
						<h2>				
							<b>$ {{cuentaCorriente.saldoActual - suma | number:2}}</b>
						</h2>
						<h2 class="blue-style">
						-{{ obtenerSuma() | number:2}}</h2>
					</div>
				</div>
			</a>
			<a href="#" class="item" ng-repeat="movimiento in cuentaCorriente.movimientos.slice().reverse()" on-hold="mostrarOpciones()">
				<div class="row" >
					<div class="col col-50">
						<p>{{formatFecha(movimiento.fecha)}}</p>
						<p>{{movimiento.detalle}}</p>
					</div>
					<div class="col col-50" style="text-align:right">
						<h2 >				
							<b>$ {{movimiento.saldo | number:2}}</b>
						</h2>
						<h2 ng-class="{'blue-style': movimiento.monto<0, 'red-style': movimiento.monto>0}">
							 <span ng-if="movimiento.monto>0">+</span>{{movimiento.monto | number:2}}
						</h2>
						
					</div>
				</div>
			</a>  
    
  </div>
	</ion-content>
</ion-view>

<style >
.red-style {color:  red;}
.blue-style {color: darkslateblue;}
</style>